<h1><%= @title %></h1>

<% if search_enabled? %>
    <% if @whois %>
        <table>
          <% @whois.each_line do |line|
            if line.strip[0] != '%' and line[0] != 37 and not line.blank?
              line.match /(\S+)[\s]+(.+)$/
          %>
                  <tr><th><%= $1 %></th><td><%= $2 %></td></tr>
              <%
                 end
                 end
              %>
        </table>
    <% else %>
        <p>Whois is unavailable. </p>
    <% end %>
<% else %>
    <p><p>Performance issues again :) We are sorry.</p></p>
<% end %>


