/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

$back: #89a54e;
$fore: #3d3d3d;
$fore_bold: #323232;

body {
    font-family: Verdana;
    font-size: 15px;
    color: $fore;

    #page {
        width: 960px;
        margin: 0 auto;

        header {
            padding: 10px 25px;
            background: $back;
            color: $fore;
            height: 90px;

            #logo {
                text-decoration: none;

                h1 {
                    margin: 0;
                    font-size: 3em;
                    color: $fore_bold;
                }
            }

            #slogan {

            }

            #description {
                float: right;
                width: 360px;
                text-align: right;
                font-style: italic;
            }
        }

        #bar {
            padding: 0 25px;
            margin-top: 10px;
            height: 50px;

            background: $back;
            color: $fore;
            
            float: none;
            clear: both;

            #analyze {
                float: right;
                margin: 10px 0 10px 10px;

                input[type=submit] {
                    padding: 5px 10px;
                }

                input[type=text] {
                    padding: 5px 10px;
                    border: 1px solid $fore;
                    color: $fore;
                    width: 240px;
                }
            }

            nav {
                ul {
                    padding: 0;
                    margin: 0;

                    li {
                        float: left;
                        display: block;
                        margin-top: 10px;
                        padding: 10px 10px 0 10px;
                        height: 30px;

                        a {
                            color: $fore;
                            text-decoration: none;
                        }

                        a:hover {
                            text-decoration: underline;
                        }
                    }

                    li.active {
                        background: white;
                        font-weight: bold;
                    }
                }
            }
        }

        #content {
            width: 910px;
            margin: 0 25px;

            #map {
                width: 910px;
                height: 420px;
                margin: 0 0 10px 0;
            }

            .clear {
                float: none;
                clear: both;
            }

            #links {
                margin-top: 50px;
                margin-bottom: 10px;

                .left {
                    float: left;
                }

                .right {
                    float: right;

                    a {
                        margin-left: 10px;
                    }
                }
            }
        }

        footer {
            height: 64px;

            padding: 10px 25px;
            background: $back;
            color: $fore;

            margin-bottom: 20px;

            img {
                float: left;
                margin-right: 15px;
            }
        }
    }

    a {
        color: $fore;
        text-decoration: underline;
    }

    h1, h2, h3 {
        color: $fore;
    }
}
