body.domains {
   #content {
        table {
            width: 100%;
            margin: 20px 0;

            border-left: 1px solid #DEDEDE;
            border-bottom: 1px solid #DEDEDE;

            tr {
                th, td {
                    padding: 10px 20px;
                    border-right: 1px solid #DEDEDE;
                    border-top: 1px solid #DEDEDE;
                    vertical-align: middle;
                }
            }
        }

        .box {
            margin-top: 10px;
            padding: 10px;
            border: 1px solid #dedede;
        }

        #pagination {
            margin-bottom: 20px;

            nav {
                float: right;
            }
        }
   }
}